{
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 96,
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine":"crlf",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}