.cart__name {
  font-weight: bold;
  font-size: 2rem;
  color: #0076b6;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.cart__name__span {
  font-size: 1.1rem;
}

.cart__empty {
  color: #3e19fa;
}

/*/////////////     CART LEFT SIDE ///////////////////*/

.cart__left__heading {
  background-color: #dff2f4;
}
.cart__left__item__name {
  font-size: 1.08rem;
}

.cart__left__item__price {
  font-size: 1.2rem;
}

.cart__left__item__remove {
  margin-left: 1.2rem;
}

/*/ ////////////     CART RIGHT SIDE ///////////////////*/

.cart__right__order__heading {
  text-align: center;
}

.cart__right__checkout {
  font-size: 1.1rem;
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
}

.cart__right__checkout:disabled {
  cursor: not-allowed;
}

.cart__right__subtotal {
  color: #0995e0;
  font-weight: 600;
}

.cart__right__price {
  color: #0995e0;
  font-weight: 600;
}

.cart__right__price--value {
  font-weight: bold;
}

.cart__right__subtotal--value {
  font-weight: bold;
}

.cart__right__delivery {
  color: #0995e0;
  font-weight: 600;
}

.cart__right__delivery--value {
  color: tomato;
  font-weight: bold;
}

.cart__right__total__price {
  color: #0995e0;
  font-weight: 600;
}

.cart__right__total__price--value {
  font-weight: bold;
  font-size: 2rem;
}
