.login__form {
  margin-top: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.login__form-wraper {
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}
.login__form-label {
  font-weight: 550;
  color: #0a7ab6;
  font-size: 1.4rem;
  line-height: 1.2;
}

.login__form-input {
  border: 1.8px solid #b2e4ff;
  border-radius: 25px;
  font-size: 1.1rem;
  color: #333333;
  line-height: 1;

  display: block;
  width: 100%;
  height: 48px;
  background: transparent;
  padding: 0 7px 0 20px;
  margin-bottom: 1.2rem;
}

.login__form-button {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 25px;
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);

  padding: 0 20px;
  width: 100%;
  height: 50px;
}
