.btn-block {
  font-size: 1rem;
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
}

.disabled {
  cursor: not-allowed;
}

.review_submit {
  font-size: 1rem;
  padding: 0.4rem 1.8rem;
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
}
