* {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

.navbar {
  background-color: #583d72;
  margin-bottom: 6rem;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 550;
}

.nav-link:hover {
  opacity: 0.7;
}
