.card {
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}
