.card {
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 6px 13px 2px rgba(0, 0, 0, 0.3);
}
